<div class="row">
<section class="col-sm-3">
  <h1>Goals</h1>

  <dl>
    <dt ng-repeat-start="goal in goals">
      <a ui-sref=".detail({id: goal._id})">{{goal.action}} {{goal.number}} {{goal.unit}}</a>
    </dt>
    <dd ng-repeat-end>{{goal.user.username}}: {{goal.because}}</dd>
  </dl>

  <a ui-sref=".new" class="btn btn-primary">Setup new goal</a>
</section>

<section ng-if="loaded" class="col-sm-9" ui-view>
  <div class="jumbotron">
    <h1>Do Hi Do</h1>
    <p>Welcome to Do Hi Do, an interactive goal tracking app.  Add your goals and cheer each on!</p>
    <p><a class="btn btn-primary btn-lg" role="button" ui-sref="goals.new">Add a goal</a></p>
  </div>
</section>