/* SVG STUFF */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3;
}

.line.goal {
  stroke: #9BCD9B;
  stroke-dasharray: 7.5; /*makes a dashed line */
}

.progress circle {
  fill: white;
  stroke: steelblue;
  stroke-width: 3;
}

.p {
  margin: 20px 20px 60px 50px;
  width: 710px;
  height: 220px;
}
